<div>
  <div id="container"></div>
  <script type="text/javascript" charset="utf-8">
    $(function () {
      $('#container').highcharts({
        chart: {
          height: 600,
          marginTop: 40,
          type: 'column'
        },
        title: {
          text: false
        },
        colors: ['#9575cd', '#00b0ff', '#ff5722', '#ffea00', '#00e676', '#7986cb', '#8d6e63', '#aeea00'],
        xAxis: {
          categories: <%= raw ['Backlog', 'Todo', 'Test', 'Done'] %>,
          title: {
            text: ''
          }
        },
        yAxis: {
          title: {
            text: 'Estimated days'
          },
          allowDecimals: false
          <%#,%>
          <%#labels: {%>
              <%#formatter: function () {%>
                  <%#return this.value;%>
              <%#}%>
          <%#},%>
        },
        legend: false,
        plotOptions: {
          column: {
            borderWidth: 0,
            groupPadding: 0,
            pointPadding: 0,
            shadow: false,
            stacking: 'normal'
          }
        },
        tooltip: {
          headerFormat: 'Issues: <b>{series.name}</b><br/>Closed for: <b>{point.y}</b>d<br>',
          pointFormat: ''
        },
        series: [
          {
            name: 'Average days',
            colorByPoint: true,
            data: <%= [2.5,1,2,1] %>
          }, {
            name: 'Before',
            color: '#bdbdbd',
            data: <%= [4,3,1,0] %>
          },
        ]
      });
    });
  </script>
</div>
