@import compass/css3/border-radius
@import compass/css3/text-shadow
@import compass/css3/box-shadow
@import compass/css3/transform
@import compass/css3/opacity

@import globals/variables

.p-boards-show
  .container
    padding: 0

  .actions
    margin-bottom: 10px

  .board
    position: relative

  .board-columns
    -moz-box-align: start
    -moz-box-orient: horizontal
    -ms-flex-align: start
    -ms-flex-direction: row
    -webkit-align-items: flex-start
    -webkit-box-align: start
    -webkit-box-orient: horizontal
    -webkit-flex-direction: row
    align-items: flex-start
    bottom: 0
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-box
    display: -webkit-flex
    display: flex
    flex-direction: row
    left: 0
    overflow-x: auto
    overflow-y: hidden
    padding: 0 20px 20px
    position: absolute
    right: 0
    top: 0

  .board-column
    +border-radius(4px)
    -moz-box-flex: 0
    -moz-box-orient: vertical
    -moz-box-sizing: border-box
    -ms-flex-direction: column
    -ms-flex: 0 0 260px
    -webkit-box-flex: 0
    -webkit-box-orient: vertical
    -webkit-box-sizing: border-box
    -webkit-flex-direction: column
    -webkit-flex: 0 0 260px
    background: #e8e9e5
    box-sizing: border-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-box
    display: -webkit-flex
    display: flex
    flex-direction: column
    flex: 0 0 260px
    margin-right: 10px
    max-height: 100%
    padding: 40px 10px 10px
    position: relative
    width: 260px

    &:last-child
      margin-right: 0

      &:after
        content: ' '
        height: 1px
        margin-left: 260px
        position: relative
        width: 10px

  .board-title
    +text-shadow(0px 1px 1px rgba(255,255,255,0.8))
    color: $text-light
    font-size: 16px
    font-weight: bold
    margin: 10px 0 20px
    padding: 0px 0 0 0
    position: absolute
    top: 0

  .issues
    margin-bottom: 20px
    overflow-y: auto

  .new-issue
    -moz-box-flex: 0
    -ms-flex: 0 0 auto
    -webkit-box-flex: 0
    -webkit-flex: 0 0 auto
    background: #e8e9e5
    bottom: 0
    flex: 0 0 auto
    margin-top: -20px
    padding: 10px 0 0 0
    position: relative

  .issue
    +border-radius(3px)
    +box-shadow(0 1px 0px rgba(100,100,100,0.3))
    background-color: #FFE680
    margin-bottom: 10px
    padding: 8px 10px
    position: relative

    &.bug
      background: #FF8484

    &.closed
      background: #f3f3f2
      +text-shadow(0 1px 1px rgba(255,255,255,1))

      .issue-title,
      p
        color: #999

      a,
      .labels
        +opacity(0.7)

    .labels
      position: absolute
      top: 0
      left: 0

    .label
      +border-radius(0 0 2px 2px)
      background: #eee
      color: white
      display: inline-block
      font-size: 10px
      height: 12px
      margin-right: 3px
      overflow: hidden
      padding: 0 4px 1px
      text-align: center
      vertical-align: top
      width: 23px

      &:first-child
        margin-left: 10px

      &:last-child
        margin-right: 10px

    .url
      margin-left: 4px
      display: inline

    .issue-title
      color: #444
      font-size: 16px
      font-weight: normal
      margin: 15px 0 5px 0
      padding: 0

    .issue-name
      cursor: pointer
      display: inline

    .state
      color: $text-light
      display: block
      font-size: 9px
      letter-spacing: 0.1em
      text-align: right
      text-transform: uppercase

    .assigned
      margin-bottom: 5px

      .avatar
        +border-radius(28px)
        height: 28px
        margin-right: 5px
        width: 28px

      .user
        vertical-align: top
        margin-left: 4px

    .actions
      list-style: none
      margin: 0
      padding: 0

      ul
        margin: 0

    .move-to
      ul
        list-style: none
        margin: 0
        padding: 0

    .stats
      font-size: 10px
      color: #888

  .modal-content
    .issue-name
      display: inline
      margin-right: 10px

    .title
      padding: 10px 0 0 0

    .issue-content
      display: table-cell
      width: 700px

    .issue-actions
      display: table-cell
      width: 200px
      padding-left: 20px

  .modal-board-columns
    display: -moz-box
    display: -moz-flex
    display: -ms-flexbox
    display: -webkit-box
    display: -webkit-flex
    display: box
    display: flex
    list-style: none
    margin: 20px 20px 20px 0
    padding: 0

  .modal-board-column
    -webkit-box-flex: 1
    -moz-box-flex: 1
    box-flex: 1
    -webkit-flex: 1
    -moz-flex: 1
    -ms-flex: 1
    flex: 1
    position: relative
    padding: 7px 30px
    border: 1px solid #e8e9e5

    &:hover
      background: #e8e9e5

      &:after
        border-left-color: #e8e9e5

      &:before
        border-left-color: #fff

      a
        color: #444

    &:first-child
      +border-radius(4px 0 0 4px)
      padding-left: 10px

    &.active
      background: $link
      border: 1px solid $link
      border-right: none

      a
        color: #fff
        cursor: default

      &:after
        border-left-color: $link
        +border-radius(1px)

      &:before
        +border-radius(1px)

    &:before,
    &:after
      +border-radius(2px)
      border: solid transparent
      content: " "
      height: 0
      left: 100%
      margin-left: -1px
      pointer-events: none
      position: absolute
      width: 0
      z-index: 5

    &:before
      border-left-color: #e8e9e5
      border-width: 18px
      margin-top: -18px
      top: 50%

    &:after
      border-left-color: #fff
      border-width: 17px
      margin-top: -17px
      top: 50%

    a
      color: #666666
      display: block
      width: 100%
