@import mixins/button

.p-settings-show
  .box
    margin-bottom: 36px

    title
      font-size: 18px
    p
      margin: 10px auto

    &.danger
      title
        color: #c00
      .button
        background: #c00
        &:hover
          background: #f00000
