@import globals/common

.issue-modal-container
  background: rgba(90,90,90,0.3)
  display: none
  height: 100%
  left: 0
  overflow: auto
  position: fixed
  top: 0
  width: 100%
  z-index: 1

  .issue-modal
    +issue_popup
    +box-sizing(border-box)
    display: block
    height: auto
    left: 20px
    min-height: 200px
    padding: 10px 30px 50px
    top: 90px
    width: calc(100% - 40px)
    z-index: 2

    input[type='submit']
      display: block

    .close
      +close
      right: 0
      top: 0

    .current-label-list
      list-style: none
      position: absolute
      top: -18px
      left: 10px
      li
        +border-radius(0 0 4px 4px)
        display: inline-block
        padding: 2px 14px 4px 14px
        margin: 0 6px 0 0

    .current-assignee
      +border-radius(30px)
      display: inline-block
      height: 50px
      width: 50px

    .popup-overlay
      display: none
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
      z-index: 3

    .issue-actions
      width: 200px
      float: right

      .octicon
        margin: 0 4px 0 -4px

      .labels,
      .assignee
        +light_button
        +border-radius(50px)
        font-size: 16px
        padding: 10px 20px
        margin-bottom: 12px

      .label-list
        +issue_popup
        display: block
        right: 240px
        top: 80px
        z-index: 4

        .label
          border-radius: 4px
          font-color: #fff
          margin: 4px 2px
          padding: 4px 6px

          span
            margin-left: 6px
            vertical-align: middle

      .assignee-list
        +issue_popup
        display: block
        right: 240px
        top: 150px
        z-index: 4

    .comment-list
      margin-right: 240px

      .comment
        +border-radius(2px)
        background-color: #f2f9fc
        margin: 0 0 40px 60px
        padding: 20px

        &:before
          border-color: transparent #f2f9fc transparent transparent
          border-style: solid
          border-width: 8px 10px 8px 0
          content: ' '
          height: 0
          margin: -5px 0 0 -30px
          position: absolute
          width: 0

        .avatar
          +border-radius(100px)
          float: left
          margin: -18px 0 0 -80px

        .header
          color: $lightgrey
          margin-bottom: 10px

          .login,
          .date
            display: inline-block
          .login
            font-weight: bold
            margin-right: 6px
          a
            +ajax_link

        .body

    .comment-form
      +border-radius(2px)
      +box-shadow(0 17px 35px -15px #E4D4CF)
      +background-image(linear-gradient(to bottom,#f7f0ea,#fcf8f5))
      margin: 40px 0 0 60px
      margin-right: 240px
      padding: 20px 20px 52px

      // TODO Extract for edit to.
      textarea, textarea:focus
        line-height: 1.4
        background: none
        border: none
        border-bottom: 1px solid #bbb
        display: block
        height: 38px
        padding: 0
        margin: 0
        text-overflow: clip
        outline: none
        padding: 0
        width: 100%

      .actions
        float: right
        height: 26px
        margin: 8px 5px 0 0
