@import globals/common

.issue-modal-container
  background: rgba(90,90,90,0.3)
  display: none
  height: 100%
  left: 0
  overflow: auto
  position: fixed
  top: 0
  width: 100%
  z-index: 1

  .issue-modal
    +issue_popup
    +box-sizing(border-box)
    display: block
    height: auto
    left: 20px
    min-height: 200px
    padding: 10px 30px 30px
    top: 90px
    width: calc(100% - 40px)
    z-index: 2

    input[type='submit']
      display: block

    .close
      +close
      right: 0
      top: 0

    .current-label-list
      list-style: none
      position: absolute
      top: -18px
      left: 10px
      li
        +border-radius(0 0 4px 4px)
        display: inline-block
        padding: 2px 14px 4px 14px
        margin: 0 6px 0 0

    .current-assignee
      +border-radius(30px)
      display: inline-block
      height: 50px
      width: 50px

    .popup-overlay
      display: none
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
      z-index: 3

    .actions
      width: 200px
      float: right

      .octicon
        margin: 0 4px 0 -4px

      .labels,
      .assignee
        +light_button
        +border-radius(50px)
        font-size: 16px
        padding: 10px 20px
        margin-bottom: 12px

      .label-list
        +issue_popup
        display: block
        right: 240px
        top: 80px
        z-index: 4

        .label
          border-radius: 4px
          font-color: #fff
          margin: 4px 2px
          padding: 4px 6px

          span
            margin-left: 6px
            vertical-align: middle

      .assignee-list
        +issue_popup
        display: block
        right: 240px
        top: 150px
        z-index: 4
