.issue-modal-container [
    class="#{:readonly if @board_bag.readonly?}"
    data-github_full_name="#{@board_bag.github_full_name}"
    data-readonly="#{:readonly if @board_bag.readonly?}"
    data-direct_post_url="#{@board_bag.direct_post.url}"
    data-direct_post_form_data="#{@board_bag.direct_post.fields.to_json}"
    data-direct_issue="#{k(:issue, @direct_issue).to_hash(@board_bag).to_json if @direct_issue}"
  ]
  .issue-modal#issue-modal
