.issue-modal-container [
    class="#{:readonly if @board_bag.readonly?}"
    data-direct_post_url="#{@direct_post.url}"
    data-direct_post_form_data="#{@direct_post.fields.to_json}"
  ]
  .issue-modal#issue-modal
