@import globals/common

.p-age-index
  .graph
    position: relative

  .chart
    height: 600px

    .axis
      fill: #888

      &.x,
      &.y
        text
          font-size: 10px
          font-weight: normal
        .tick
          font-size: 12px
      &.x
        .tick
          display: none

    .bar
      &.n0
        fill: #81c784
        &.hovered
          fill: #66bb6a
      &.n1
        fill: #fff176
        &.hovered
          fill: #ffeb3b
      &.n2
        fill: #ffb74d
        &.hovered
          fill: #ffa726
      &.n4
        fill: #ff8a65
        &.hovered
          fill: #ff7043
      &.n8
        fill: #ef5350
        &.hovered
          fill: #f44336

    .bar-shadow
      cursor: pointer
      opacity: 0.0

      &.hovered
        opacity: 0.008

    .tooltip
      color: #111
      background-color: #fff
      font-size: 14px
      padding: 4px
      position: absolute
      width: 110px
      z-index: 2

      &.tooltip-0
        border: 1px solid #888

  .legend
    text-align: center

    .text
      display: inline-block
      font-size: 1226
      line-height: 18px
      vertical-align: top
      margin: 0 8px
      color: #333

    .bar
      display: inline-block
      height: 18px
      opacity: 0.8
      width: 30px

      &.n0-full
        background-color: #66bb6a
      &.n0
        +background-image(linear-gradient(to right, #ffeb3b, #66bb6a))
      &.n1
        +background-image(linear-gradient(to right, #ffa726, #ffeb3b))
      &.n2
        +background-image(linear-gradient(to right, #ff7043, #ffa726))
      &.n4
        +background-image(linear-gradient(to right, #f44336, #ff7043))
      &.n8-full
        background-color: #f44336
