@import globals/variables

$info_width: 260px

.p-frequency-index
  .graph-area
    position: relative
    padding-left: $info_width

    .info
      position: absolute
      top: 0
      left: 0
      width: $info_width
      height: 100%

      .row
        margin-bottom: 30px
        color: $text-light

        .title
          font-weight: 700
          font-size: 18px

        .stats
          font-size: 14px
          line-height: 22px

          span
            margin-left: 4px
            color: $text-usual
