@import globals/common

.p-frequency-index
  .graph-container
    position: relative

    .graph
      padding-top: 10px

    .intervals
      list-style: none
      margin-top: 20px

      li
        float: left
        margin-left: 2px

        a
          display: inline-block
          padding: 4px 8px
          border-radius: 4px

          &.active
            background-color: #e1f5fe
            color: $text-usual
            &:hover
              background-color: #e1f5fe

          &:hover
            background-color: #ddd

    .stats
      background-color: #fff
      border-radius: 2px
      border: 1px solid #90caf9
      font-size: 14px
      left: 500px
      opacity: 0.7
      padding: 10px
      position: absolute
      top: 16px

    .chart
      height: 590px

      .axis
        fill: #888

        &.x,
        &.y
          text
            font-size: 10px
            font-weight: normal

          .tick
            font-size: 12px
        &.x
          .tick
            &:first-child
              display: none

      .bar
        &.bar-0
          fill: #90caf9
          &.hovered
            fill: #64b5f6
        &.bar-1
          fill: #FFE082
          &.hovered
            fill: #FFD54F
        &.bar-2
          fill: #ef5350
          &.hovered
            fill: #f44336

      .bar-shadow
        opacity: 0.0
        z-index: 3

      .tooltip
        color: #111
        background-color: #fff
        font-size: 14px
        padding: 4px
        position: absolute
        width: 126px
        z-index: 2

        &.tooltip-0
          border: 1px solid #64b5f6
        &.tooltip-1
          border: 1px solid #ffd54f
        &.tooltip-2
          border: 1px solid #f44336
