@import mixins/button

.editable-form,
.add-comment-form,
.add-comment
  font-size: 16px
  font-weight: normal

  .form-overlay
    position: fixed
    height: 100%
    width: 100%
    top: 0
    left: 0
    z-index: 20

  form
    display: block
    position: relative
    z-index: 21

    .write,
    .preview-textarea
      display: none

    &.preview-mode
      .write
        display: inline-block

      .preview-textarea
        display: block

      .preview,
      textarea
        display: none

  textarea
    background: #fafae9
    border-radius: 3px
    border: 1px solid #eee
    display: block
    font-size: 16px
    font-weight: normal
    min-height: 140px
    padding: 10px
    resize: vertical
    width: calc(100% - 20px)

    &.dragenter
      border: 3px dashed #56AD05

  .attach-images
    font-size: 14px
    float: left

  .controls
    text-align: right
    padding: 15px 0
    display: inline-block
    float: right

    .preview,
    .write
      //+grey_button
      margin-right: 5px

  .upload
    font-size: 14px
    display: inline-block
    margin: 17px 0 0 0
    cursor: pointer
    width: 220px

    label
      padding: 0

    &:hover
      a
        color: $link-hover

    .progress
      display: none
      height: 20px
      margin: 0
      vertical-align: bottom

      .b-preloader
        display: inline-block
        vertical-align: bottom
        margin: 0

    input
      cursor: pointer
      height: 40px
      left: 0
      opacity: 0.00001
      position: absolute
      top: -10px
