// colors
$text-usual: #333
$text-light: #777

$error: #bf0039

$link: rgba(0,117,234,1)
$link-hover: rgba(63,146,255,1)

$link-underline: rgba(0,117,234,0.2)
$link-hover-underline: rgba(63,146,255,0.2)

$ajax-link: #999
$ajax-link-hover: #e57927

$text-muted: #bbb

$button: #66a608
$button-hover: #77b818

$button-light: #77b818

$submit-area: rgba(255, 188, 47, 0.2)

// fields borders, divided lines which witdth is 1px
$form-border: #cccccc

$active: #f7f0ea

$menu: #eae8e5
$menu-bg: #fafafa

$body-bg: #fff
$board-background: #f5f5f5

$orange: #f4862c
$orange-hover: #e57927
$lightgrey: #999999
$popup: #fafafa
$tooltip: #fff
$due-date: #f4862c
$due-date-passed: #d50000

// dimentions
$desktop-width: 1024px
