// цвета
$text-usual: #454545
$text-light: #777

$link: rgba(0,117,234,1)
$link-hover: rgba(63,146,255,1)

$link-underline: rgba(0,117,234,0.2)
$link-hover-underline: rgba(63,146,255,0.2)


$ajax-link: #454545
$ajax-link-hover: #777

$text-muted: #bbb

$button: #1975A3
$button-hover: #338CB8

$submit-area: #e8e9e5

$menu: #EAE8E5

$body-bg: #fafafa
$board-bg: #ffbc2f

$menu-bg: #fafafa

$card: #ffffff
$card-hover: #FCF9EA
$card-bug: #FFE0D8
$card-closed: #faf9f2

$orange: rgba(63,146,255,1)
$lightgrey: #999999

$popup: #fafafa
// dimentions
$modal-width: 960px
