@import globals/variables
@import mixins/preloaders

=link
  color: $link
  cursor: pointer
  display: inline
  text-decoration: none

  &:hover
    color: $orange-hover

    .a-child
      color: $orange-hover

  &.active,
  &.active:hover
    color: $orange-hover
    cursor: default

    a.child
      color: $text-usual
      cursor: default

  &.loading
    cursor: default
    display: none !important

  &.loading + .button-preloader
    +small_button_preloader

  &.disabled,
  &:disabled
    color: $lightgrey
    cursor: default

=ajax_link
  color: $ajax-link
  cursor: pointer
  border-bottom: 1px dashed

  &:hover
    color: $orange-hover

  &.disabled,
  &:disabled
    color: $lightgrey
    cursor: default

    &:hover
      color: $lightgrey

  &.active
    color: $orange-hover
    cursor: default

    &:hover
      color: $orange-hover

=menu_link
  +ajax_link
  border-bottom: 1px solid rgba(90,90,90,0.3)

  &:hover
    color: $orange-hover
    border-bottom: 1px solid rgba($orange-hover,0.3)
