@import globals/variables
@import mixins/preloaders

=link
  color: $link
  cursor: pointer
  display: inline
  text-decoration: none

  &:hover
    color: $link-hover

    .a-child
      color: $link-hover

  &.active,
  &.active:hover
    color: $text-usual
    cursor: default

    a.child
      color: $text-usual
      cursor: default

  &.loading
    cursor: default
    display: none !important

  &.loading + .button-preloader
    +small_button_preloader

  &.disabled,
  &:disabled
    color: $lightgrey
    cursor: default

=ajax_link
  color: $ajax-link
  cursor: pointer

  &:hover
    color: $ajax-link-hover

  &.disabled,
  &:disabled
    color: $lightgrey
    cursor: default

    &:hover
      color: $lightgrey

  &.active
    color: $ajax-link-hover
    cursor: default

    &:hover
      color: $ajax-link-hover
