$preloader-path: "globals"

=small_preloader
  background: inline-image("#{$preloader-path}/blue_small_fefefe_bg.gif") no-repeat 50% 0 transparent
  width: 28px
  height: 9px
  display: block
  margin: 40px auto

=medium_preloader
  background: inline-image("#{$preloader-path}/blue_medium_lightgrey_bg.gif") no-repeat 50% 0 transparent
  width: 60px
  height: 20px
  display: block
  margin: 40px auto

=big_preloader
  background: inline-image("#{$preloader-path}/blue_big.gif") no-repeat 50% 0 transparent
  width: 100px
  height: 34px
  display: block
  margin: 40px auto

=small_blue_button_preloader
  background: inline-image("#{$preloader-path}/small_blue_button_preloader.gif") no-repeat 50% 0 transparent
  width: 28px
  height: 9px
  display: inline-block

=comment_preloader
  +small_preloader
  background: inline-image("#{$preloader-path}/blue_small_fbf6f2_bg.gif") no-repeat 50% 0 transparent
  margin: 0

=small_button_preloader
  background: inline-image("#{$preloader-path}/blue_small_fefefe_bg.gif") no-repeat 50% 50% transparent
  display: inline-block
  height: 27px
  margin-left: 10px
  vertical-align: middle
  width: 28px
