<div>
  <div id="container"></div>
  <script type="text/javascript" charset="utf-8">
    $(function () {
        $('#container').highcharts({
            chart: {
                height: 600,
                marginTop: 40,
                type: 'area'
            },
            title: {
                text: ''
            },
            colors: ['#9575cd', '#00b0ff', '#ff5722', '#ffea00', '#00e676', '#7986cb', '#8d6e63', '#aeea00'],
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Time'
                }
            },
            yAxis: {
                title: {
                    text: 'Issues'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                },
                allowDecimals: false
            },
            tooltip: {
                headerFormat: '<span><b>Total: {point.y}</b> issues</span><br/><span style="color:#888">{point.key}<br/></span>',
                pointFormat: '<span style="color:{series.color}">\u25CF</span><b> {point.issues}</b> - {series.name}<br/>',
                shared: true
            },
            plotOptions: {
                area: {
                    fillOpacity: 1,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [
              <%- @series.each do |_key, info| %>
                {
                  name: '<%= info[:name] %>',
                  data: [
                    <% info[:data].each do |data| %>
                      {
                        x: <%= data[:collected_on] %>,
                        y: <%= data[:issues_cumulative] %>,
                        issues: <%= data[:issues] %>,
                      },
                    <% end %>
                  ]
                },
              <%- end %>
            ]
        });
    });
  </script>
</div>
