<div>
  <div id="container"></div>
  <script type="text/javascript" charset="utf-8">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: <%= raw(@categories) %>,
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                },
                allowDecimals: false,
                labels: {
                    formatter: function () {
                        return this.value; // clean, unformatted number for year
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Issues'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                },
                tickInterval: 1,
                maxPadding: 0,
                showFirstLabel: false,
                showLastLabel: true
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: <b>{point.tooltipValue}</b> issues<br/>',
                shared: true
            },
            plotOptions: {
                area: {
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [
              <%- @series.each do |_key, info| %>
                {
                  name: '<%= info[:name] %>',
                  data: [
                    <% info[:data].each do |data| %>
                      {
                        y: <%= data[:issues_cumulative] %>,
                        tooltipValue: <%= data[:issues] %>
                      },
                    <% end %>
                  ]
                },
              <%- end %>
            ]
        });
    });
  </script>
</div>
