.docs
  = render partial: 'sidebar'
  .content
    h1 Cumulative Flow Diagram
    p
      ' A Cumulative Flow Diagram (CFD) is
      ' an area chart that shows the various statuses
      ' of work items for a particular time interval.
      ' The horizontal x-axis in a CFD indicates time,
      ' and the vertical y-axis indicates cards (issues).
      ' Each coloured area of the chart equates to a workflow
      ' status (i.e. a column on your board).
    br
    p
      ' A CFD can be useful for identifying bottlenecks.
      ' If your chart contains an area that is widening
      ' vertically over time, the column that equates
      ' to the widening area will generally be a bottleneck.
    br
    img src='https://raw.githubusercontent.com/agileseason/agileseason/master/doc/help/kanban_metrics/cfd_1.png'
