.with-enter-submit
  = simple_form_for(Column.new(board: board), url: board_columns_url(board)) do |f|
    = f.input :name, label: false, input_html: { placeholder: 'Append a new column' }
    = f.button :submit, value: '', class: 'enter-submit'
