.board-column.droppable [
    id="column_#{column.id}"
    class="#{:last if k(column).last?}"
    data-column="#{column.id}"
    data-url="#{board_column_url(@board, column)}"
  ]

  = render partial: 'columns/menu', locals: { column: column }

  .issues.scroller
    = render partial: 'issues/issue_miniature',
      collection: @board_bag.column_issues(column),
      as: :issue,
      locals: { column: column }
