.board-column.droppable [
    id="column_#{column.id}"
    class="#{:last if k(column).last?}"
    data-column="#{column.id}"
    data-url="#{board_column_url(@board, column)}"
  ]

  = render partial: 'columns/menu', locals: { column: column }
  a.export href="#{board_exports_url(@board)}" target='blank' title='Export board to markdown'
    span.octicon.octicon-markdown

  .issues.scroller class="#{'js-can-update' if can?(:update, @board)}"
    = render partial: 'issues/issue_miniature',
      collection: @board_bag.column_issues(column),
      as: :issue,
      locals: { column: column }
