@import compass/css3

.p-subscriptions-new
  ul.subscriptions
    height: 140px
    opacity: 0.3
    width: 100%

    li
      +border-radius(4px)
      +box-sizing(border-box)
      border: 1px solid #ddd
      float: left
      height: 110px
      margin-right: 10px
      padding: 16px
      width: 200px

      .cost
        font-size: 18px

      .safe
        border-top: 1px solid #ddd
        font-size: 14px
        margin-top: 10px
        padding-top: 10px

  .promo
    margin-bottom: 40px

  .note
    +border-radius(4px)
    background-color: #eee
    display: inline-block
    font-size: 18px
    font-weight: 700
    padding: 14px 26px

    .octicon
      font-size: 22px
      margin-left: 24px
