@import compass/css3
@import compass/css3/opacity
@import compass/css3/border-radius
@import compass/css3/box-shadow

@import globals/variables

$image-path: "blocks/b-dashboard"

.b-dashboard
  .header
    text-align: center
    padding: 100px 0 40px
    width: 700px
    margin: 0 auto

    .logo
      display: inline-block
      width: 50%
      vertical-align: top
      background: image-url("#{$image-path}/logo.png") 50% 0 no-repeat
      background-size: 80px
      padding-top: 92px

      span
        font-size: 24px

    .user
      display: inline-block
      width: 50%
      vertical-align: top

      .avatar
        +border-radius(100px)
        background: #eee
        height: 60px
        margin: 10px 0 20px -10px
        width: 60px
        display: inline-block

  .title
    font-size: 24px
    font-weight: normal
    padding: 20px 0 20px 0


  .settings-modal
    display: none
    bottom: 0
    height: 100%
    left: 0
    overflow-y: auto
    position: fixed
    right: 0
    top: 0
    width: 100%
    z-index: 205

    & > .overlay
      +opacity(0.4)
      height: 100%
      left: 0
      position: fixed
      top: 0
      width: 100%
      z-index: 0

      &.visible
        +opacity(0.5)

    .modal-inner
      +border-radius(10px)
      +box-shadow(0px 20px 50px -3px rgba(60,60,60,0.2))
      background: #fff
      margin: 20px
      padding: 40px 60px
      position: relative

      .header
        padding-top: 20px

      .octicon-three-bars
        display: inline-block
        font-size: 20px
        height: 20px
        left: 0
        margin: 20px
        position: absolute
        text-align: center
        top: 0
        width: 20px

        &:hover
          color: $link-hover

  .board-lists
    display: block
    margin: 0 auto
    vertical-align: top
    width: 750px

    ul.boards
      li
        display: inline-block

        a
          +border-radius(4px)
          +box-sizing(border-box)
          background-color: #eee
          color: $text-usual
          display: inline-block
          font-size: 20px
          height: 80px
          margin: 0 20px 20px 0
          padding: 18px 20px
          width: 230px

          &.new
            color: #bebebe
            background-color: transparent
            border: 1px dashed #bebebe

            &:hover
              background-color: transparent
              border: 1px dashed $orange
              color: $orange

            &.loading
              position: relative
              top: -26px
              border-color: $link

              &:after
                background: inline-image("blocks/b-preloader/blue-medium.gif") no-repeat 50% 50% #fff
                content: ' '
                display: block
                height: 20px
                margin: -30px auto 0
                width: 60px

              .name
                display: none

          &:hover
            background-color: $orange
            color: #fff

            .issues
              color: #ffe0b2

          .name
            font-weight: 400
            display: block
            margin-bottom: 4px

          .issues
            font-size: 14px
            color: #bebebe
            display: block

  .repos
    display: none
    margin: 20px auto
    width: 750px

    .button
      margin-left: 10px

    li
      margin-bottom: 20px

  .repos-list
    list-style: none
    margin: 0
    padding: 0
