@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/text-shadow
@import globals/variables
@import mixins/ajax_link
@import mixins/avatar
@import mixins/button
@import mixins/close
@import mixins/popup
@import mixins/date

.b-issue-modal
  +border-radius(6px)
  +box-shadow(0 0 40px rgba(63,63,63, 0.3))
  background: $card
  display: none

  .issue-name
    display: inline

  .content
    padding: 20px 30px 30px 30px

  .title
    font-size: 24px
    padding: 0 0 10px 0
    position: relative

    .octicon-pencil
      top: 2px

  .issue-title
    .field
      font-size: 24px
      font-weight: bold
      margin-top: 0
      outline: none
      padding: 5px 10px

  .issue-content
    display: table-cell
    vertical-align: top
    width: 700px

  .issue-actions
    display: table-cell
    padding-left: 40px
    width: 180px

    .button
      display: block
      width: 106px
      margin-bottom: 8px

  .b-assign
    margin: 20px 0
    position: relative

    a
      +ajax_link

    .no-one
      font-size: 14px
      color: $text-muted
      margin: 10px 0 28px 0

    .popup
      +popup
      font-size: 14px
      height: 220px
      top: -4px
      width: 240px

      .close-popup
        +close

      .users
        overflow-x: hidden
        overflow-y: auto
        padding: 10px
        height: 200px

        a.user
          display: block
          margin: 4px
          .name
            line-height: 30px
            vertical-align: top
          .check
            margin: 5px
            vertical-align: top

  .edit-due-date
    position: relative

    .popup
      height: 320px
      margin-top: -28px
      padding: 20px
      width: 272px

      .close-popup
        +close
      .header
        margin-bottom: 12px
        .date, .time
          display: inline-block
          margin-right: 30px
          width: 86px
        input
          width: 86px
      .datepicker
        margin-bottom: 12px
      .save
        display: inline-block
        width: auto

  .due-date
    +border-radius(2px)
    background: $orange
    color: #fff
    cursor: pointer
    display: inline-block
    font-size: 16px
    line-height: 18px
    margin-left: 10px
    padding: 6px 6px 2px 6px

    &.none
      display: none

  .edit-labels
    position: relative

  .b-issue-labels
    margin-left: 30px

    .label
      +border-radius(0 0 4px 4px)
      font-size: 14px
      line-height: 18px
      margin-right: 5px
      padding: 2px 15px
      position: relative

      .remove-label
        +close
        position: absolute
        right: 5px
        top: 3px

  .add-label
    +ajax_link

  .action-title
    margin: 20px 0 10px 0

    &:first-child
      margin-top: 0

  .issue-comment
    display: table
    padding: 0 0 40px
    width: 100%

    &:hover
      .controls
        display: block

    &:last-child
      padding-bottom: 20px

    .controls
      display: none
      margin: 2px 0 0 0
      position: absolute

      .delete-link
        +ajax_link
        display: inline-block
        font-size: 12px
        font-style: italic
        padding: 3px 5px

      .edit-link
        +button
        display: inline-block
        font-size: 11px
        font-style: normal
        padding: 3px 8px 1px
        vertical-align: middle

  .user-ava
    display: table-cell
    width: 33px

  .avatar
    +avatar

  .comment-body
    display: table-cell
    padding: 0px 5px
    position: relative
    vertical-align: top

    .edit-form
      textarea
        margin-top: 0

    img
      display: block
      margin: 0 0 5px
      max-width: 100%

    .date
      +date
      display: inline-block
      margin-bottom: 5px

  .user-login
    color: $lightgrey
    display: inline
    font-size: 14px
    font-weight: bold

  .issue-description
    .label
      display: inline
      color: $lightgrey

    .octicon
      +ajax_link
      margin-bottom: 3px
      vertical-align: bottom

  .description
    margin-top: 10px

    img
      max-width: 100%

    .octicon-pencil
      margin-top: -3px

  .edit-form
    display: none

    .cancel
      +ajax_link

    textarea
      +border-radius(4px)
      border: 1px solid #ddd
      display: block
      font-size: inherit
      margin: 10px 0
      min-height: 60px
      outline: none
      padding: 10px
      resize: vertical
      width: 97%
      width: calc(100% - 22px)

  .octicon-pencil
    +ajax_link
    position: absolute
    left: -20px

  .editable
    position: relative



  .submit-area
    background: none
    padding: 0

  .add-comment
    padding-top: 10px
    position: relative

    .editable
      margin-bottom: 35px

    .edit-form
      padding-left: 40px
      margin-top: -15px
      margin-bottom: 5px

    .user-ava
      position: absolute

    .edit-link
      +button
      display: inline-block
      margin-top: 10px

  .markup-switcher
    margin: -30px 0 10px 5px

    span
      +ajax_link
      font-size: 12px
      margin-right: 5px

      &.active
        +border-radius(3px)
        background: #ddd
        padding: 1px 5px

  .upload
    float: left
    .progress
      display: none

