@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/text-shadow
@import globals/variables
@import mixins/avatar
@import mixins/button
@import mixins/close
@import mixins/popup
@import mixins/date

.b-issue-modal
  +border-radius(6px)
  +box-shadow(0 0 40px rgba(63,63,63, 0.3))
  background: $card

  .issue-name
    cursor: pointer
    display: inline

  .content
    padding: 20px 30px 30px 30px

  .title
    font-size: 28px
    font-weight: normal
    padding: 0 0 10px 0
    position: relative

    .upload,
    .preview
      display: none

    .editable-form
      textarea
        font-size: 28px
        height: 28px
        min-height: 20px

      &.active
        margin-bottom: 40px

    .editable-form.active + a,
    .editable-form.active + a + .due-date
      display: none

  .description
    cursor: pointer

  .issue-content
    display: inline-block
    vertical-align: top
    width: 670px

    img:not(.avatar)
      +border-radius(4px)
      border: 1px solid #eee

  .issue-actions
    display: inline-block
    padding-left: 40px
    width: 180px

    .button
      display: block
      width: 106px
      margin-bottom: 8px

  .b-assign
    margin: 20px 0
    position: relative

    .no-one
      font-size: 14px
      color: $text-muted
      margin: 10px 0 28px 0

    .popup
      +popup
      font-size: 14px
      height: 220px
      top: -4px
      width: 240px

      .close-popup
        +close

      .users
        overflow-x: hidden
        overflow-y: auto
        padding: 10px
        height: 200px

        a.user
          display: block
          margin: 4px
          .name
            line-height: 30px
            vertical-align: top
          .check
            margin: 5px
            vertical-align: top

  .edit-due-date
    position: relative

    .popup
      height: 320px
      margin-top: -28px
      padding: 20px
      width: 272px

      .close-popup
        +close

      .header
        margin-bottom: 12px

        .date, .time
          display: inline-block
          margin-right: 30px
          width: 86px

        input
          width: 86px

      .datepicker
        margin-bottom: 12px

      .save
        display: inline-block
        width: auto

  .due-date
    +border-radius(2px)
    background: $orange
    color: #fff
    display: inline-block
    font-size: 12px
    padding: 2px 6px 2px 6px
    vertical-align: top

    &.none
      display: none

  .edit-labels
    position: relative

  .b-issue-labels
    margin-left: 30px

    .label
      +border-radius(0 0 4px 4px)
      font-size: 14px
      line-height: 18px
      margin-right: 5px
      padding: 2px 15px
      position: relative

      .remove-label
        +close
        position: absolute
        right: 5px
        top: 3px

  .action-title
    margin: 20px 0 10px 0

    &:first-child
      margin-top: 0

  .issue-comment
    display: table
    padding: 0 0 40px
    width: 100%

    &:last-child
      padding-bottom: 0

  .move-to-column
    margin-bottom: 40px

    ul
      list-style: none
      padding: 0
      margin: 20px 0 10px
      display: -webkit-box
      display: -moz-box
      display: -webkit-flexbox
      width: 100%

      li
        -webkit-box-flex: 1
        -moz-box-flex: 1
        -webkit-flex: 1

        &:last-child
          a
            +border-radius(0 3px 3px 0)
            border-right: 1px solid #eee

            &:after,
            &:before
              display: none

        &:first-child
          a
            +border-radius(3px 0 0 3px)

        &:hover
          a
            background: #eee

          a
            &:after
              border-color: transparent transparent transparent #eee

        &.active
          &:hover
            a
              color: #fff
              cursor: default

          a
            +border-radius(3px)
            background: $orange
            color: #fff
            border: 1px solid $orange
            border-right: none

            &:after
              border-color: transparent transparent transparent $orange

        a
          display: block
          position: relative
          padding: 2px 5px 2px 10px
          border: 1px solid #eee
          border-right: none

          &:after, &:before
            content: " "
            width: 0
            height: 0
            border-style: solid
            position: absolute

          &:after
            border-width: 11px 0 11px 9px
            border-color: transparent transparent transparent #fff
            right: -8px
            top: 0px
            z-index: 2

          &:before
            border-width: 12px 0 12px 10px
            border-color: transparent transparent transparent #eeeeee
            right: -9px
            top: -1px
            z-index: 1

  .user-ava
    display: inline-block
    width: 33px
    position: absolute

  .avatar
    +avatar

  .comment-body
    padding: 0px 5px 0 43px
    position: relative

    pre
      width: 605px

    .edit-form
      textarea
        margin-top: 0

    img
      display: block
      margin: 0 0 5px
      max-width: 100%

    .date
      +date
      display: inline-block
      margin-bottom: 5px

    .controls
      +date

  .issue-comments
    .b-preloader
      margin-bottom: 20px

  .issue-description + .issue-comments
    margin-top: 60px

  .add-comment
    background: #fefefe
    border-radius: 6px
    border: 1px solid #ccc
    color: #999
    display: inline-block
    line-height: 10px
    margin-top: 40px
    min-height: 20px
    padding: 15px 10px 5px 10px
    vertical-align: middle
    width: calc(100% - 20px)

  .add-comment + .editable-form.active
    margin-top: 40px

  .user-login
    color: $lightgrey
    display: inline
    font-size: 14px
    font-weight: bold

  .issue-description
    .blank-description
      display: inline
      color: $lightgrey
