@import compass/css3/text-shadow
@import compass/css3/border-radius
@import compass/css3/transition
@import mixins/close
@import mixins/link
@import mixins/popup
@import globals/variables

.b-menu
  ul
    margin: 0
    padding: 0

  li
    display: inline-block
    margin: 20px 20px 0 0
    font-size: 18px

    &.active
      padding: 15px

    &.boards
      position: relative

      span
        cursor: pointer

    &.exit, &.user
      text-align: right

    a
      border-radius: 35px
      cursor: pointer
      display: inline-block
      padding: 15px

      span
        +link
        color: $text-usual

      span:not(.octicon)
        border-bottom: 1px solid rgba(90,90,90,0.3)

        &:hover
          border-bottom: 1px solid rgba($orange-hover,0.3)

      &:hover
        span:not(.octicon)
          border-bottom: 1px solid rgba($orange-hover,0.3)
          color: $orange-hover

      &.active,
      &.active:hover
        cursor: default
        color: $text-usual
        border: none

        span
          cursor: default
          color: $text-usual
          border: none

  .left-menu-link
    margin: 0

    a
      background: $orange
      color: #fff
      display: inline-block
      font-size: 20px
      height: 20px
      margin: 20px
      text-align: center
      width: 20px

      &:hover
        background: $orange-hover
        color: #fff

  .activities-link
    float: right

    a
      background: rgba(60,60,60,0.1)
      line-height: 18px

      &:hover
        color: $orange-hover

        span.octicon-megaphone
          color: $orange-hover

      span.octicon-megaphone
        color: $text-usual

  .search
    float: right

    &.active
      .field
        position: relative
        z-index: 2
        top: 0
        padding: 20px 70px 20px 20px
        margin: -35px -90px 0 0px
        background: #fff

      .search-input
        input
          padding: 14px 14px
          width: 350px

      .overlay
        display: block
        z-index: 1

      .search-popup
        display: block

    .overlay
      display: none

    .search-input
      &:hover
        span.octicon-search
          color: $orange-hover
      input
        +transition(all ease 0.1s)
        background: rgba(60,60,60,0.1)
        border-radius: 35px
        border: none
        cursor: pointer
        font-size: 16px
        height: 20px
        outline: none
        padding: 14px 24px
        width: 0px

    span.octicon-search
      color: $text-usual
      cursor: pointer
      margin-left: -30px
      vertical-align: middle

    .search-popup
      background: rgba(255,255,255,1)
      border-left: 1px solid #eee
      display: none
      height: 100%
      overflow-x: hidden
      overflow-y: auto
      position: fixed
      right: 0
      top: 0
      width: 485px
      z-index: 1

      .search-content
        margin-top: 90px

        ul
          padding-left: 25px

          li
            display: block
            margin: 0
            padding: 0 0 10px 0

            a
              padding: 0

        p
          color: $text-muted
          padding: 15px 15px

      .help
        color: $lightgrey
        line-height: 20px
        margin-top: 80px
        padding: 10px 20px

        a
          +link
          font-size: 14px
          padding: 0
