$image-path: "blocks/b-preloader"

.b-preloader
  &.horizontal
    background: inline-image("#{$image-path}/horizontal-preloader.gif") no-repeat 0 0 transparent
    height: 11px
    margin: 0
    width: 24px
    display: block

  &.inline
    display: inline-block
