<h1>AWS test upload</h1>
<div id='aws_test'
  data-direct_url='<%= @direct_post.url %>'
  data-direct_form_data=<%= @direct_post.fields.to_json.html_safe %>
></div>
<div class='keys'></div>
<textarea></textarea>
<%= form_for('/awstest', html: { class: "directUpload" }) do |f| %>
  <%= f.file_field :img %>
<%- end %>
