.actions
  margin-bottom: 10px
.columns
  .column
    margin-left: 10px
    float: left
    width: 200px

    .title
      margin-bottom: 4px

    .issues
      .issue
        background-color: #fff5aa
        margin: 4px 0
        padding: 4px
        .header
          .url
            margin-right: 4px
          .title
            display: inline-block

        .body
          .move_to
            ul
              margin: 0
