.actions
  margin-bottom: 10px
.columns
  .column
    margin-left: 10px
    float: left
    width: 240px

    .title
      margin-bottom: 4px

    .issues
      .issue
        background-color: #fff5aa
        margin: 4px 0
        padding: 8px 10px
        .header
          .url
            margin-right: 4px
          .title
            display: inline-block
            font-weight: bold
          .assigned
            .avatar
              height: 28px
              width: 28px
            .user
              vertical-align: top
              margin-left: 4px

        .body
          .state
            color: #888
            margin-bottom: 8px

          .labels
            .label
              display: inline-block
              color: #fff
              padding: 2px 4px
              margin: 2px 2px

          .actions
            ul
              margin: 0

          .move_to
            ul
              margin: 0

          .stats
            font-size: 10px
            color: #888
