link rel='fluid-icon'       href='/favicons/favicon-144.png' title='Agile Season'

link rel='apple-touch-icon' href='/favicons/favicon-144.png' sizes='144x144'
link rel='apple-touch-icon' href='/favicons/favicon-114.png' sizes='114x114'
link rel='apple-touch-icon' href='/favicons/favicon-72.png'  sizes='72x72'
link rel='apple-touch-icon' href='/favicons/favicon-57.png'  sizes='57x57'

link rel='icon' type='image/x-icon' href='/favicon.ico'
